html, body, #googleMap {
  height: 1000px;
}

.navbar {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 0px;
      opacity: 0.85;
  }
}

.App {
  text-align: center;
}
